ol {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Wolfy';
    src: url('fonts/NewRocker-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SpecialPower';
    src: url('fonts/Lacquer-Regular.ttf') format('truetype');
}

html {
    background-image: url('images/background_full.jpg');    
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 80px;
    background-color: black;
    font-family: 'Wolfy', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

/* Icons */
i {
    color: #666;
    font-size: 14pt;
}

#time-keeper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#time-keeper p {
    padding: 4px 10px;
    margin: 2px 0 0 0;
}

.special-ability {   
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#ability-effect {
    height:400px;
    width: 400px;
    z-index: -1;
    position: absolute;
    background-image: url('images/special_effect.gif');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50% 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes grow {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(3);
    }
}


.growing {
    animation: grow 4s forwards;
}

.shrinking {
    animation: grow 4s reverse;
}

.panel {
    background-color: white;
    opacity: 0.8;
    border-radius: 4px;
    padding:20px;
    margin: 22px 10px;
    width: 100%;
    text-align: center;
}

.panel h1 {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
}

.panel p {
    margin: 8px 0 0 0;
}

.clear {      
    background: none;
    opacity: 1.0;
}

#playerForm {
    margin-top: 30px;
}

#playerForm input {
    margin:1px;
}


#playerList li {
    list-style-type: none;
    display: block;
    padding: 9px;
    border: 1px solid grey;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #333;
}

#playerList button {
    border-radius: 5px;    
    border: none;
    cursor: pointer;
    float: right;
}

#scan-area {
    margin-top: 80px;
    border: 2px dashed white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 6px #000;
}

#start-game, #end-game {
    padding: 20px 0;
    font-weight: 600;
    color: #666;    
}
#start-game:hover, #end-game:hover {    
    color: #333;
    cursor: pointer;
}

#useAbilityButton {
    border-radius: 50%;
    padding: 16px 18px;
    background-color: #0251DF; 
    color: white;
    text-decoration: none;
    border: none;
    box-shadow: 0 0 3px 2px #0251DF;
    position: absolute;
    z-index: 2000;
}

#useAbilityButton i {
    color: lightblue;
}

#useAbilityButton:hover {
    box-shadow: 0 0 3px 2px #0251DF;
    cursor: pointer;
}

.trackerButton {
    margin: 0 50px;
}

#seerControls #playerSelect {
    margin-top: 260px;    

}

.slide-left-fade-out {
    opacity: 0;
    transform: translateX(-120px) scale(0) rotate(360deg);    
    transition: opacity 2.5s ease-out, transform 2.5s ease-in-out    
}
.slide-right-fade-out {
    opacity: 0;
    transform: translateX(+120px) scale(0) rotate(360deg);
    transition: opacity 2.5s ease-out, transform 2.5s ease-in-out
}

.fade-out {
    opacity: 0;
    transform: scale(0) rotate(360deg);
    transition: opacity 2.5s ease-out, transform 3s linear; 
}

#cancel-ability {
    position: absolute;
    bottom: 10px;   
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.2) scaleX(0.5); color: #666;}
    to { opacity: 1; transform: scale(1) scaleX(1); color: white;}
}

#abilityMessage {
    font-size: 14pt;
    font-family: 'SpecialPower', sans-serif;
    display: none;
    /* add a fade in effect */
    animation: fadeIn 4s ease;
    position: absolute;    
    z-index: 1;
}

@keyframes gossip1FadeIn {
    from { opacity: 0; transform: scale(0.2) scaleX(0.5) translateX(200%) rotate(-180deg); color: #666;}
    to { opacity: 1; transform: scale(1) scaleX(1) translateX(0%); color: white;}
}

@keyframes gossip2FadeIn {
    from { opacity: 0; transform: scale(0.2) scaleX(0.5) translateX(-200%) rotate(180deg); color: #666;}
    to { opacity: 1; transform: scale(1) scaleX(1) translateX(0%); color: white;}
}

#gossip1, #gossip2 {
    font-size: 14pt;
    font-family: 'SpecialPower', sans-serif;
    padding:30px;
}

#gossip1 {
    animation: gossip1FadeIn 4s ease;
}

#gossip2 {
    animation: gossip2FadeIn 4s ease;
}



/* Buttons */
.pure-button {
    border-radius: 5px;
}

.button-primary i {
    color:#1C4D9C;
}

.button-small {
    height: 24px;
    padding: 3px 20px 3px 20px;
    margin-bottom:2px;
}
.button-small i {
    font-size: 10pt;
}

.progress-display {
    visibility: hidden;
    color:white;
}

/* Add shadow to text */
#progress-percent {
    text-shadow: 0 0 6px #000
}
