ol {
    margin: 0;
    padding: 0;
}

html {
    background-image: url('images/background_full.jpg');    
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: black;    
}

body {
    display: flex;
    justify-content: center;
}

/* Icons */
i {
    color: #666;
    font-size: 14pt;
}

.special-ability {
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#ability-effect {
    height:400px;
    width: 400px;
    z-index: -1;
    position: absolute;
    background-image: url('images/special_effect.gif');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50% 50%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes grow {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(3);
    }
}


.growing {
    animation: grow 4s forwards;
}

.shrinking {
    animation: grow 4s reverse;
}


.trackerButton {
    display: none;
}

.panel {
    background-color: white;
    opacity: 0.8;
    border-radius: 4px;
    padding:20px;
    margin: 22px 10px;
    width: 100%;
    text-align: center;
}

.panel h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: #666;
}

.clear {      
    background: none;
    opacity: 1.0;
}


#playerList li {
    list-style-type: none;
    display: block;
    padding: 9px;
    border: 1px solid grey;
    background-color: #eee;
    border-radius: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #666;
}

#playerList button {
    border-radius: 5px;    
    border: none;
    cursor: pointer;
    float: right;
}

#scan-area {
    border: 2px dashed white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 6px #000;
}

#start-game, #end-game {
    padding: 30px 0;
    font-weight: 600;
    color: #666;    
}
#start-game:hover, #end-game:hover {    
    color: #333;
    cursor: pointer;
}

#useAbilityButton {
    border-radius: 50%;
    padding: 18px 20px;
    background-color: #0251DF; 
    color: white;
    text-decoration: none;
    border: none;
    box-shadow: 0 0 3px 2px #0251DF;
    position: absolute;
    z-index: -1;
}

#useAbilityButton:hover {
    box-shadow: 0 0 3px 2px #0251DF;
    cursor: pointer;
}

.fade-out {
    opacity: 0;
    transform: scale(0) rotate(360deg);
    transition: opacity 2.5s ease-out, transform 3s linear; 
}


#useAbilityButton i{
    color: white;
}
#cancel-ability {
    position: absolute;
    bottom: 10px;   
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.5); color: #666;}
    to { opacity: 1; transform: scale(1); color: white;}
}

#abilityMessage {
    display: none;
    /* add a fade in effect */
    animation: fadeIn 4s ease-in;

}

/* Buttons */
.button-small {
    height: 24px;
    padding: 3px 20px 3px 20px;
    margin-bottom:2px;
}
.button-small i {
    font-size: 10pt;
}

.progress-display {
    visibility: hidden;
    color:white;        
}

/* Add shadow to text */
#progress-percent {
    text-shadow: 0 0 6px #000
}